@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 50px;
  margin: 5px;
  color: rgb(216, 215, 218);
  text-shadow: 0 0 5px black;
  letter-spacing: 3px
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin: 0;
  color: white;
}

input[type=text] {
  height: 35px;
  width: auto;
  margin: 10px 20px;
  border-radius: 4px;
  padding-left: 5px;
  font-size: 16px
}

.container {
  max-width: 960px !important;
  height: auto;
  margin: 0 auto;
  padding: 75px 10px 0 10px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

#canvasContainer {
  width: 100%;
  max-width: 960px;
  height: 800px;
  margin: 20px auto;
  /*border: 1px solid black;*/
}

.canvas {
  border: 1px solid black;
}

/*Landing Page Styles*/
.landingMain {
  padding: 0;
  background-image: url('./assets/grid16.png');
}

.landingLogo {
  width: 100% inherit;
  height: auto;
}
