html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  /*width: 100%;*/
  max-width: 960px;
  height: auto;
  /*border: 3px solid ghostwhite;*/
  margin: 20px auto;
  padding: 0 10px 0 10px;
}

.center {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.right {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
}
